name: Build Documentation

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "*.gradle"
      - "gradle.properties"
      - "src/**"
      - "versions/**"
      - ".github/**"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Cache gradle files
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ./.gradle/loom-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts', '**/gradle.properties', '**/*.accesswidener', 'settings.json') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build documentation with Dokka Gradle
        run: |
          chmod +x gradlew
          ./gradlew dokkaGenerate
          cp -r build/dokka/html docs

      - name: Publish to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
          branch: docs
